@media (width <=856px) {
  .navv {
    display: flex;
    position: relative;
    left: -13%;
  }
  .nav1 {
    padding: 46px 35px;
  }
  .nav2 {
    margin-right: 35px;
  }
  .main {
    position: relative;
    left: 40px;
    top: -200px;
  }
  .imagebox {
    display: flex;
    flex-direction: column;
  }
  .img1 {
    background-image: url(./pic-1.png);
    margin-left: 105px;
    border-radius: 25px;
    height: 355px;
    width: 566px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
  }
  .img2 {
    margin-left: 105px;
    border-radius: 25px;
    height: 355px;
    width: 566px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
  }
  .img3 {
    margin-left: 105px;
    border-radius: 25px;
    height: 355px;
    width: 566px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
  }
  .img4 {
    margin-left: 105px;
    border-radius: 25px;
    height: 355px;
    width: 566px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
  }
}
@media (360px <= width <= 640px) {
  .navv {
    position: relative;
    left: 3%;
  }

  .nav1 {
    padding: 8px 51px;
  }
  .nav2 {
    margin-right: -35px;
  }
  .lorem {
    color: white;
    font-size: 17px;
  }
  .lorem2 {
    color: white;
    font-size: 17px;
  }

  .img1 {
    margin-left: 10px;
    height: 290px;
    width: 316px;
  }
  .img2 {
    margin-left: 10px;
    height: 290px;
    width: 316px;
  }
  .img3 {
    margin-left: 10px;
    height: 290px;
    width: 316px;
  }
  .img4 {
    margin-left: 10px;
    height: 290px;
    width: 316px;
  }
}
